<h1 title="Department">{{ department }}</h1>

<mat-form-field>
  <input
    placeholder="Enter name here"
    matInput
    type="text"
    [formControl]="input"
    (keydown.enter)="addEmployee($event)"
  />
</mat-form-field>

<mat-list>
  <div *ngIf="data.length === 0" class="empty-list-label">Empty list</div>
  <mat-list-item *ngFor="let item of data">
    <h3 matLine title="Name">
      {{ item.name }}
    </h3>
    <mat-chip-list>
      <div class="chip">
        {{ item.rate | level }}
      </div>
    </mat-chip-list>
    <button mat-icon-button (click)="remove.emit(item)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
  <mat-divider *ngIf="data.length !== 0"></mat-divider>
</mat-list>
